@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.list-container {
  display: inline-block;
  position: relative;
  background: #F6F6F6;
  padding: auto;
  margin: auto;
  width: 12%;
  border-radius: 10px;
  text-align: left;
}

#buttons li {
  float: left;
  list-style: none;
  text-align: center;

  margin-right: 35px;
  width: 150px;
  line-height: 60px;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 0;
}

.pokemon-list li {
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.pokemon-list li:hover {
  background-color: #369;
  color: #FFF;
  margin: auto;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

h1 {
  font-size: 50px;
  text-align: center;
  width: 100%;
  background: #00C2FF;
  color: #fff;
  margin-top: 1%;
  padding: 1em 0 1em;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

}